.Rhistory
req_perform_parallel_w_cache.r
check_json_response.r
.Rproj.user/
cache/
old/
1._prompting_control.qmd
1._prompting_desktop.r
1._prompting_framework.r
1._prompting_gesis.r
1._prompting_sal.r
1._prompting_files/
2._data_cleaning_files/
.vscode/
manuscript/CCR_LLM-Bias_Revision3.docx
